{"rulebase":{"log":[{"acAllow":false,"acDrop":true,"complianceViolations":true,"complianceWarnings":true,"context":"triggerId(78cc68f8-c823-e1e6-fe46-11019fe14a83)","extendLogging":true,"extendLoggingMinSeverity":"High","logToAgent":false,"logToCef":false,"logToCloud":true,"logToSyslog":false,"responseBody":false,"responseCode":true,"tpDetect":true,"tpPrevent":true,"triggerName":"Log Trigger","triggerType":"log","verbosity":"Standard","webBody":false,"webHeaders":false,"webRequests":false,"webUrlPath":true,"webUrlQuery":true}],"webUserResponse":[{"context":"triggerId(22cc68f8-c86b-4115-0fa5-26f4e3a85235)","details level":"Block Page","response body":"Check Point's CloudGuard WAF has detected an attack and blocked it","response code":403,"response title":"Attack blocked by web application protection","triggerName":"Web User Response"}]}}