{"rulebase":{"zones":[{"adjacentZones":[],"context":"matchQuery(any)","id":"em9uZTs7O2dlbmVyaWM7OztnZW5lcmljOzs7R2VuZXJpYzs7Ozs7Ozs7Ozs7O3siem9uZU1hdGNoUXVlcnkiOiJ7XCJ0eXBlXCI6XCJjb25kaXRpb25cIixcIm9wXCI6XCJlcXVhbHNcIixcImtleVwiOlwiYW55XCIsXCJ2YWx1ZVwiOltcImFueVwiXX0iLCJ6b25lTmFtZSI6IkFueSJ9","match":{"key":"any","op":"equals","type":"condition","value":["any"]},"name":"Any"},{"id":"impliedAzure","match":{"items":[{"key":"ipAddress","op":"equals","type":"condition","value":["169.254.169.254"]},{"key":"ipAddress","op":"equals","type":"condition","value":["168.63.129.16"]}],"op":"or","type":"operator"},"name":"impliedAzure"}]}}