{"rulebase":{"exception":[{"context":"Any(parameterId(36cc70b2-079a-e7e3-4b90-bec67b2da74a), parameterId(5ccc70b2-0702-3721-9cda-056dd690e106))","exceptions":[{"behavior":{"id":"36cc70b2-079a-e7e3-4b90-bec67b2da74a","key":"action","value":"accept"},"match":{"items":[{"key":"sourceIdentifier","op":"equals","type":"condition","value":["192.168.200.131"]},{"key":"url","op":"equals","type":"condition","value":["/posts.php"]},{"key":"paramName","op":"equals","type":"condition","value":["id"]},{"key":"paramValue","op":"equals","type":"condition","value":[".*"]}],"key":"","op":"and","type":"operator","value":[]}}]}]}}